<a routerLink="/countries" matButton>
  <mat-icon>keyboard_backspace</mat-icon>
  Back</a
>

@if (country$ | async; as country) {
<div class="country-details">
  <img
    [src]="country.flags.svg"
    [alt]="country.flags.alt"
    class="country-flag"
  />
  <div class="country-info">
    <h2>{{ country.name.common }}</h2>
    <div class="info-columns">
      <div class="col">
        <p><strong>Native Name:</strong> {{ getFirstNativeName(country) }}</p>
        <p><strong>Population:</strong> {{ country.population | number }}</p>
        <p><strong>Region:</strong> {{ country.region }}</p>
        <p><strong>Sub Region:</strong> {{ country.subregion }}</p>
        <!-- <p><strong>Capital:</strong> {{ country.capital?.[0] || 'N/A' }}</p> -->
      </div>
      <div class="col">
        <p><strong>Top Level Domain:</strong> {{ country.tld[0] }}</p>
        <p><strong>Currencies:</strong> {{ getCurrencies(country) }}</p>
        <p><strong>Languages:</strong> {{ getLanguages(country) }}</p>
      </div>
    </div>

    @if ((borderCountries$ | async)?.length) {
    <div class="border-countries">
      <strong>Border Countries:</strong>
      <div class="borders-list">
        @for (border of (borderCountries$ | async); track border.cca3) {
        <a [routerLink]="['/country', border.name.common]" matButton="filled">
          {{ border.name.common }}
        </a>
        }
      </div>
    </div>
    }
  </div>
</div>
}
