.controls-container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-bottom: 2rem;

  @media (min-width: 729px) {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    margin-bottom: 3rem;
  }

  @media (min-width: 1440px) {
    grid-template-columns: 4fr auto 1fr 1fr;
    gap: 1.5rem;
    margin-bottom: 3rem;
  }

  .search-toggle {
    margin-bottom: 1rem;
  }
}

.countries-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2.5rem;
  margin-bottom: 3rem;

  @media (min-width: 768px) {
    gap: 4.5rem;
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.not__found {
  color: var(--color-text);
  font-size: 1.5rem;
}
